# These files run on Linux after being archived from a Windows checkout.
*.sh text eol=lf
deploy/* text eol=lf
.github/actions/**/*.yml text eol=lf
.github/workflows/**/*.yml text eol=lf
*.png binary
*.zip binary
src/bcv/_version.py export-subst
